body {
	margin: 0;
    padding: 0;
}

nav.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	height: 100px;
    padding: 1em;
	margin-bottom: 0px;
	background: #004273;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 20px;
	text-transform: uppercase;
	z-index: 99999;	
}


.navbar-brand {
	float: initial;
}

.brand-container {
	margin-right: 1em;
}

#navigation {

	flex-grow: 2;

}
p {
	margin: 0;
}

a {
	color: #ffffff;
}

a.collapsed {
	color: #003366;

}

.container-fluid {
	margin-top: auto;

}

.header-content-inner{
  padding-top: 150px;
  padding-bottom: 150px;
}

.header-content-inner > h1{
  font-size: 75px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.jumbotron {
	border-radius: 0px;
	padding: 40px;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
           url("img/header.jpg");
	height: 550px;
	text-align: left;
	line-height: 200px;
	padding-top: 170px;
}

.colored-block {
        width: 100%;
        padding: 30px 0px;
        color: #fff;
    }

.blue { 

	background: #004273; 
	color:white;
}

.white { 

	background: #ffffff; 
	color:black;
}

.service-box {
	padding: 30px;
	margin-bottom: 30px;

}

.btn-github {
	background-color: #ffffff;
	color: #004273;
}

.collaborate {
	display: flex;
	align-items: baseline;
	margin-bottom: 30px;

}

.project-box {
	padding: 30px;
	margin-bottom: 30px;
}

#littlebox {
	padding: 30px;

}

img.img-responsive {
	display: inline-block;
}